.page-room {
  > .main-heading {
    max-width: 800px;
    margin: 0 auto;

    > .question-list {
      margin-top: 32px;
    }
  }

  .room-title {
    &.-heading {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;
    }

    &.-heading > .title {
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      color: #29292e;
    }

    &.-heading > .indicator {
      margin-left: 16px;
      background: #e559f9;
      border-radius: 9999px;
      padding: 8px 16px;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
  }

  .room-form {
    &.-heading > .textarea {
      width: 100%;
      border: 0;
      padding: 16px;
      border-radius: 8px;
      background: #fefefe;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
      resize: vertical;
      min-height: 130px;
      outline: none;
    }

    &.-heading > .textarea:focus {
      border: 1px solid #e559f9;
      box-shadow: 0 0 10px #e559f9;
    }
  }

  .form-footer {
    &.-room {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }

    &.-room > .user-info {
      font-size: 14px;
      color: #737388;
      font-weight: 500;

      .login {
        background: transparent;
        border: 0;
        color: #835afd;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .user-info {
    &.-footer {
      display: flex;
      align-items: center;
    }

    &.-footer > .avatar {
      width: 32px;
      height: 32px;
      border-radius: 58%;
    }

    &.-footer > .name {
      margin-left: 8px;
      color: #29292e;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
