.question-container {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question-container {
    margin-top: 8px;
  }

  &.-highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    .name {
      color: #29292e;
    }
  }

  &.-answered {
    background: #dbdcdd;
  }

  > .content {
    color: #29292e;
  }

  > .question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    > .user-info {
      display: flex;
      align-items: center;
    }

    > .tools {
      display: flex;
      gap: 16px;
    }

    .icon-button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2;
    }
  }
}

.user-info {
  &.-footer > .avatar {
    width: 32px;
    height: 32px;
    border-radius: 58%;
  }

  &.-footer > .name {
    margin-left: 8px;
    color: #737380;
    font-size: 14px;
  }
}

.icon-button {
  &.-question > .-like {
    display: flex;
    align-items: flex-end;
    color: #737380;
    gap: 8px;

    &.-liked {
      color: #835afd;

      svg path {
        stroke: #835afd;
      }
    }
  }

  &.-question > &:hover {
    filter: brightness(0.7);
  }
}